## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [2]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("bundesliga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("bundesliga-2024.csv")
#sezona 25/6
link_25 = pd.read_html("https://fixturedownload.com/results/bundesliga-2025")
df_25_6 = link_25[0]

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [3]:
#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
#za sezonu 24 5
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [4]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6[df_25_6["Result"] != "-"]
df_25_6.tail(5)

,Round Number,Date,Location,Home Team,Away Team,Result
130,15,20/12/2025 14:30,Volkswagen Arena,VfL Wolfsburg,SC Freiburg,3 - 4
131,15,20/12/2025 14:30,MHPArena,VfB Stuttgart,TSG Hoffenheim,0 - 0
132,15,20/12/2025 17:30,Red Bull Arena,RB Leipzig,Bayer 04 Leverkusen,1 - 3
133,15,21/12/2025 14:30,Mewa Arena,1. FSV Mainz 05,FC St. Pauli,0 - 0
134,15,21/12/2025 16:30,Voith-Arena,1. FC Heidenheim 1846,FC Bayern München,0 - 4

In [5]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [6]:
df_BL["Home Team"].unique()

array(['SV Werder Bremen', 'VfB Stuttgart', 'FC Augsburg',
       'TSG Hoffenheim', 'VfL Wolfsburg', 'Bayer 04 Leverkusen',
       'Borussia Dortmund', '1. FC Union Berlin', 'Eintracht Frankfurt',
       'RB Leipzig', 'SV Darmstadt 98', '1. FC Heidenheim 1846',
       'VfL Bochum 1848', '1. FC Köln', 'SC Freiburg',
       'Borussia Mönchengladbach', '1. FSV Mainz 05', 'FC Bayern München',
       'FC St. Pauli', 'Holstein Kiel', 'Hamburger SV'], dtype=object)

In [7]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
130,NaN,15,20/12/2025 14:30,Volkswagen Arena,VfL Wolfsburg,SC Freiburg,3 - 4
131,NaN,15,20/12/2025 14:30,MHPArena,VfB Stuttgart,TSG Hoffenheim,0 - 0
132,NaN,15,20/12/2025 17:30,Red Bull Arena,RB Leipzig,Bayer 04 Leverkusen,1 - 3
133,NaN,15,21/12/2025 14:30,Mewa Arena,1. FSV Mainz 05,FC St. Pauli,0 - 0
134,NaN,15,21/12/2025 16:30,Voith-Arena,1. FC Heidenheim 1846,FC Bayern München,0 - 4

## Predprocesovanje Niza Podataka

In [8]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(747, 3)

In [9]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [10]:
df_BL.to_csv("bundesliga.csv")
df_BL

                         H                         A Result
0         SV Werder Bremen         FC Bayern München  0 - 4
1            VfB Stuttgart           VfL Bochum 1848  5 - 0
2              FC Augsburg  Borussia Mönchengladbach  4 - 4
3           TSG Hoffenheim               SC Freiburg  1 - 2
4            VfL Wolfsburg     1. FC Heidenheim 1846  2 - 0
..                     ...                       ...    ...
130          VfL Wolfsburg               SC Freiburg  3 - 4
131          VfB Stuttgart            TSG Hoffenheim  0 - 0
132             RB Leipzig       Bayer 04 Leverkusen  1 - 3
133        1. FSV Mainz 05              FC St. Pauli  0 - 0
134  1. FC Heidenheim 1846         FC Bayern München  0 - 4

[747 rows x 3 columns]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [12]:
df_domacin.columns

Index(['H_1. FC Köln', 'H_1. FC Union Berlin', 'H_1. FSV Mainz 05',
       'H_Bayer 04 Leverkusen', 'H_Borussia Dortmund',
       'H_Borussia Mönchengladbach', 'H_Eintracht Frankfurt', 'H_FC Augsburg',
       'H_FC Bayern München', 'H_FC St. Pauli', 'H_Hamburger SV',
       'H_Holstein Kiel', 'H_RB Leipzig', 'H_SC Freiburg', 'H_SV Darmstadt 98',
       'H_SV Werder Bremen', 'H_TSG Hoffenheim', 'H_VfB Stuttgart',
       'H_VfL Bochum 1848', 'H_VfL Wolfsburg'],
      dtype='object')

In [13]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [14]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Hamburger SV,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
742,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
743,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
745,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
746,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [15]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [16]:
rez_dom.head()

0    0
1    5
2    4
3    1
4    2
Name: Result, dtype: object

In [17]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [18]:
rez_gost.head()

0    4
1    0
2    4
3    2
4    0
Name: Result, dtype: object

In [19]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [20]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski.tail()

                         H                    A Result Rez1 Rez2
130          VfL Wolfsburg          SC Freiburg  3 - 4    3    4
131          VfB Stuttgart       TSG Hoffenheim  0 - 0    0    0
132             RB Leipzig  Bayer 04 Leverkusen  1 - 3    1    3
133        1. FSV Mainz 05         FC St. Pauli  0 - 0    0    0
134  1. FC Heidenheim 1846    FC Bayern München  0 - 4    0    4

In [21]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [22]:
#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [23]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [24]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

Kopiraj - Izmjeni celiju ispod sa gore izracunatim vrijednostima indeksa sezona

#df_rezultatski[0:380] #sezona 23/4 od 0:380
#df_rezultatski[380:759] #sezona 24/5 od 380:759
#df_rezultatski[760:] #sezona25/6 od 760:

In [25]:
#sezona 23/4
skor23_4 = skor[0:380]
skor24_5 = skor[380:760]
skor25_6 = skor[760:]

In [26]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_4500\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [27]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_4500\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [28]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [29]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [30]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [31]:
finalna_provjera[-5:-1]

                   H                    A Rezultat  Skor
742    VfL Wolfsburg          SC Freiburg    3 - 4 -0.85
743    VfB Stuttgart       TSG Hoffenheim    0 - 0  0.00
744       RB Leipzig  Bayer 04 Leverkusen    1 - 3 -0.85
745  1. FSV Mainz 05         FC St. Pauli    0 - 0  0.00

# Konačni df - Podaci su Sređeni

In [32]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [33]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [34]:
df_BL.head(5)

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71

In [35]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_epl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [36]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [37]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Hamburger SV,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg
72,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
210,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
658,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
417,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [38]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347, -0.24821639],
       [-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347, -0.24821639],
       [-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347,  4.02874288],
       ...,
       [-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347, -0.24821639],
       [-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347, -0.24821639],
       [-0.19245009, -0.2515773 , -0.24138707, ..., -0.24821639,
        -0.21991347, -0.24821639]])

In [39]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [41]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [42]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                656

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 673
Trainable params: 673
Non-trainable params: 0
_________________________________________________________________

In [43]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [44]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
21/21 [==============================] - 6s 93ms/step - loss: 0.7916 - mae: 0.7916 - val_loss: 0.7365 - val_mae: 0.7365
Epoch 2/50
21/21 [==============================] - 0s 18ms/step - loss: 0.7447 - mae: 0.7447 - val_loss: 0.6999 - val_mae: 0.6999
Epoch 3/50
21/21 [==============================] - 0s 16ms/step - loss: 0.7027 - mae: 0.7027 - val_loss: 0.6753 - val_mae: 0.6753
Epoch 4/50
21/21 [==============================] - 0s 17ms/step - loss: 0.6658 - mae: 0.6658 - val_loss: 0.6578 - val_mae: 0.6578
Epoch 5/50
21/21 [==============================] - 0s 21ms/step - loss: 0.6301 - mae: 0.6301 - val_loss: 0.6568 - val_mae: 0.6568
Epoch 6/50
21/21 [==============================] - 0s 17ms/step - loss: 0.5979 - mae: 0.5979 - val_loss: 0.6507 - val_mae: 0.6507
Epoch 7/50
21/21 [==============================] - 0s 19ms/step - loss: 0.5694 - mae: 0.5694 - val_loss: 0.6444 - val_mae: 0.6444
Epoch 8/50
21/21 [==============================] - 0s 17ms/step - loss: 0.5475 - mae: 0.5475 - val_loss: 0.6257 - val_mae: 0.6257
Epoch 9/50
21/21 [==============================] - 0s 14ms/step - loss: 0.5315 - mae: 0.5315 - val_loss: 0.6236 - val_mae: 0.6236
Epoch 10/50
21/21 [==============================] - 0s 14ms/step - loss: 0.5177 - mae: 0.5177 - val_loss: 0.6099 - val_mae: 0.6099
Epoch 11/50
21/21 [==============================] - 0s 13ms/step - loss: 0.5049 - mae: 0.5049 - val_loss: 0.6057 - val_mae: 0.6057
Epoch 12/50
21/21 [==============================] - 0s 19ms/step - loss: 0.4943 - mae: 0.4943 - val_loss: 0.6118 - val_mae: 0.6118
Epoch 13/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4849 - mae: 0.4849 - val_loss: 0.6107 - val_mae: 0.6107
Epoch 14/50
21/21 [==============================] - 1s 29ms/step - loss: 0.4775 - mae: 0.4775 - val_loss: 0.6125 - val_mae: 0.6125
Epoch 15/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4711 - mae: 0.4711 - val_loss: 0.6165 - val_mae: 0.6165
Epoch 16/50
21/21 [==============================] - 0s 15ms/step - loss: 0.4653 - mae: 0.4653 - val_loss: 0.6073 - val_mae: 0.6073
Epoch 17/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4604 - mae: 0.4604 - val_loss: 0.6020 - val_mae: 0.6020
Epoch 18/50
21/21 [==============================] - 1s 35ms/step - loss: 0.4548 - mae: 0.4548 - val_loss: 0.6034 - val_mae: 0.6034
Epoch 19/50
21/21 [==============================] - 0s 17ms/step - loss: 0.4484 - mae: 0.4484 - val_loss: 0.5938 - val_mae: 0.5938
Epoch 20/50
21/21 [==============================] - 0s 18ms/step - loss: 0.4443 - mae: 0.4443 - val_loss: 0.5966 - val_mae: 0.5966
Epoch 21/50
21/21 [==============================] - 0s 17ms/step - loss: 0.4394 - mae: 0.4394 - val_loss: 0.5908 - val_mae: 0.5908
Epoch 22/50
21/21 [==============================] - 0s 14ms/step - loss: 0.4350 - mae: 0.4350 - val_loss: 0.5821 - val_mae: 0.5821
Epoch 23/50
21/21 [==============================] - 0s 18ms/step - loss: 0.4310 - mae: 0.4310 - val_loss: 0.5862 - val_mae: 0.5862
Epoch 24/50
21/21 [==============================] - 0s 19ms/step - loss: 0.4257 - mae: 0.4257 - val_loss: 0.5809 - val_mae: 0.5809
Epoch 25/50
21/21 [==============================] - 0s 17ms/step - loss: 0.4237 - mae: 0.4237 - val_loss: 0.5788 - val_mae: 0.5788
Epoch 26/50
21/21 [==============================] - 0s 18ms/step - loss: 0.4198 - mae: 0.4198 - val_loss: 0.5734 - val_mae: 0.5734
Epoch 27/50
21/21 [==============================] - 0s 24ms/step - loss: 0.4155 - mae: 0.4155 - val_loss: 0.5806 - val_mae: 0.5806
Epoch 28/50
21/21 [==============================] - 0s 14ms/step - loss: 0.4137 - mae: 0.4137 - val_loss: 0.5681 - val_mae: 0.5681
Epoch 29/50
21/21 [==============================] - 0s 18ms/step - loss: 0.4112 - mae: 0.4112 - val_loss: 0.5733 - val_mae: 0.5733
Epoch 30/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4074 - mae: 0.4074 - val_loss: 0.5693 - val_mae: 0.5693
Epoch 31/50
21/21 [==============================] - 0s 15ms/step - loss: 0.4052 - mae: 0.4052 - val_loss: 0.5638 - val_mae: 0.5638
Epoch 32/50
21/21 [==============================] - 0s 17ms/step - loss: 0.4029 - mae: 0.4029 - val_loss: 0.5691 - val_mae: 0.5691
Epoch 33/50
21/21 [==============================] - 0s 16ms/step - loss: 0.4000 - mae: 0.4000 - val_loss: 0.5732 - val_mae: 0.5732
Epoch 34/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3983 - mae: 0.3983 - val_loss: 0.5611 - val_mae: 0.5611
Epoch 35/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3957 - mae: 0.3957 - val_loss: 0.5699 - val_mae: 0.5699
Epoch 36/50
21/21 [==============================] - 0s 17ms/step - loss: 0.3935 - mae: 0.3935 - val_loss: 0.5614 - val_mae: 0.5614
Epoch 37/50
21/21 [==============================] - 0s 18ms/step - loss: 0.3924 - mae: 0.3924 - val_loss: 0.5619 - val_mae: 0.5619
Epoch 38/50
21/21 [==============================] - 0s 18ms/step - loss: 0.3908 - mae: 0.3908 - val_loss: 0.5701 - val_mae: 0.5701
Epoch 39/50
21/21 [==============================] - 0s 18ms/step - loss: 0.3895 - mae: 0.3895 - val_loss: 0.5586 - val_mae: 0.5586
Epoch 40/50
21/21 [==============================] - 0s 17ms/step - loss: 0.3888 - mae: 0.3888 - val_loss: 0.5589 - val_mae: 0.5589
Epoch 41/50
21/21 [==============================] - 0s 19ms/step - loss: 0.3850 - mae: 0.3850 - val_loss: 0.5625 - val_mae: 0.5625
Epoch 42/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3828 - mae: 0.3828 - val_loss: 0.5546 - val_mae: 0.5546
Epoch 43/50
21/21 [==============================] - 0s 17ms/step - loss: 0.3823 - mae: 0.3823 - val_loss: 0.5594 - val_mae: 0.5594
Epoch 44/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3814 - mae: 0.3814 - val_loss: 0.5581 - val_mae: 0.5581
Epoch 45/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3790 - mae: 0.3790 - val_loss: 0.5633 - val_mae: 0.5633
Epoch 46/50
21/21 [==============================] - 0s 18ms/step - loss: 0.3781 - mae: 0.3781 - val_loss: 0.5587 - val_mae: 0.5587
Epoch 47/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3768 - mae: 0.3768 - val_loss: 0.5570 - val_mae: 0.5570
Epoch 48/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3754 - mae: 0.3754 - val_loss: 0.5689 - val_mae: 0.5689
Epoch 49/50
21/21 [==============================] - 0s 14ms/step - loss: 0.3732 - mae: 0.3732 - val_loss: 0.5708 - val_mae: 0.5708
Epoch 50/50
21/21 [==============================] - 0s 16ms/step - loss: 0.3720 - mae: 0.3720 - val_loss: 0.5651 - val_mae: 0.5651

In [45]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 6ms/step - loss: 0.5651 - mae: 0.5651

In [46]:
#spremanje modela
model.save("BL_float_model.h5")

In [47]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.

# ODREDI FORMU TIMOVA

In [48]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("bundesliga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("bundesliga-2024.csv")
#sezona 25/6
link_25 = pd.read_html("https://fixturedownload.com/results/bundesliga-2025")
df_25_6 = link_25[0]

In [49]:
#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
#za sezonu 24 5
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')

In [50]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6[df_25_6["Result"] != "-"]
df_25_6.tail(5)

,Round Number,Date,Location,Home Team,Away Team,Result
130,15,20/12/2025 14:30,Volkswagen Arena,VfL Wolfsburg,SC Freiburg,3 - 4
131,15,20/12/2025 14:30,MHPArena,VfB Stuttgart,TSG Hoffenheim,0 - 0
132,15,20/12/2025 17:30,Red Bull Arena,RB Leipzig,Bayer 04 Leverkusen,1 - 3
133,15,21/12/2025 14:30,Mewa Arena,1. FSV Mainz 05,FC St. Pauli,0 - 0
134,15,21/12/2025 16:30,Voith-Arena,1. FC Heidenheim 1846,FC Bayern München,0 - 4

In [51]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

rez_dom = df_BL["Result"].str.slice(0,1)
rez_gost = df_BL["Result"].str.slice(4,5)

df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]

df1 = df_rezultatski

In [52]:
#definisanje funkcije...
def klub(tim):
    # Filtriramo DataFrame
    df = df1[(df1["H"] == tim) | (df1["A"] == tim)].copy()
    
    uslovi = [
    (df['H'] == tim) & (df['Rez1'] < df["Rez2"]),
    (df['A'] == tim) & (df['Rez1'] < df["Rez2"]),
    (df['H'] == tim) & (df['Rez1'] == df["Rez2"]),
    (df['A'] == tim) & (df['Rez1'] == df["Rez2"]),
    (df['H'] == tim) & (df['Rez1'] > df["Rez2"]),
    (df['A'] == tim) & (df['Rez1'] > df["Rez2"]),]
    
    vrijednosti = [-1, 1, 0, 0, 1, -1]
    df['Forma'] = np.select(uslovi, vrijednosti, default=0)
    df = df.drop(["Rez1","Rez2"],axis=1).tail(5)
    rezultat = df["Forma"].sum() / len(df["Forma"])
    return rezultat

## Provjera Rada Te Funkcije

In [53]:
klub('Borussia Dortmund')

0.6

In [54]:
#izvlacenje naziva svih klubova
timovi = pd.concat([df1["H"], df1["A"]]).unique()
timovi

rezultati = {}

#petlja
for tim in timovi:
    rezultat = klub(tim)
    rezultati[tim] = rezultat

# Kreiranje DataFrame-a iz rezultata
df_forme = pd.DataFrame(list(rezultati.items()),columns = ["Klub","Rezultat"])
df_forme["Rezultat"] = df_forme["Rezultat"]

## Rezultat Forme

In [55]:
#Izracun
df_forme

                        Klub  Rezultat
0           SV Werder Bremen      -0.6
1              VfB Stuttgart      -0.2
2                FC Augsburg       0.0
3             TSG Hoffenheim       0.2
4              VfL Wolfsburg       0.0
5        Bayer 04 Leverkusen       0.2
6          Borussia Dortmund       0.6
7         1. FC Union Berlin       0.2
8        Eintracht Frankfurt       0.2
9                 RB Leipzig       0.0
10           SV Darmstadt 98      -0.6
11     1. FC Heidenheim 1846      -0.2
12           VfL Bochum 1848      -0.2
13                1. FC Köln      -0.6
14               SC Freiburg       0.0
15  Borussia Mönchengladbach       0.0
16           1. FSV Mainz 05      -0.4
17         FC Bayern München       0.8
18              FC St. Pauli      -0.2
19             Holstein Kiel       0.0
20              Hamburger SV       0.0

In [56]:
#Ponovna provjera vrijednosti...
klub("Borussia Dortmund")

0.6

In [57]:
df_forme.to_csv("forma_h.csv")

In [58]:
df_forme["Rezultat"] = df_forme["Rezultat"] * -1

In [59]:
df_forme

                        Klub  Rezultat
0           SV Werder Bremen       0.6
1              VfB Stuttgart       0.2
2                FC Augsburg      -0.0
3             TSG Hoffenheim      -0.2
4              VfL Wolfsburg      -0.0
5        Bayer 04 Leverkusen      -0.2
6          Borussia Dortmund      -0.6
7         1. FC Union Berlin      -0.2
8        Eintracht Frankfurt      -0.2
9                 RB Leipzig      -0.0
10           SV Darmstadt 98       0.6
11     1. FC Heidenheim 1846       0.2
12           VfL Bochum 1848       0.2
13                1. FC Köln       0.6
14               SC Freiburg      -0.0
15  Borussia Mönchengladbach      -0.0
16           1. FSV Mainz 05       0.4
17         FC Bayern München      -0.8
18              FC St. Pauli       0.2
19             Holstein Kiel      -0.0
20              Hamburger SV      -0.0

In [60]:
df_forme.to_csv("forma_a.csv")

# Pretvaranje .h5 u .tflite i Enkodera i Skalera u Flutter Parametre

In [61]:
import tensorflow as tf    #vec ucinjeno

model = tf.keras.models.load_model("BL_float_model.h5")
converter = tf.lite.TFLiteConverter.from_keras_model(model)
tflite_model = converter.convert()

with open("model.tflite", "wb") as f:
    f.write(tflite_model)
    
#----------------------------------------------------------------------
    import json

domacin_categories = list(onehot_encoder_domacin.categories_[0])
#domacin_categories

gost_categories = list(onehot_encoder_gost.categories_[0])
#gost_categories

scaler_mean = scaler.mean_.tolist()
scaler_scale = scaler.scale_.tolist()
scaler_features = ([f"H_{t}" for t in domacin_categories] + [f"A_{t}" for t in gost_categories])

data = {
    "home_categories": domacin_categories,
    "away_categories": gost_categories,
    "feature_names": scaler_features,
    "scaler_mean": scaler_mean,
    "scaler_scale": scaler_scale
}

with open ("preproc.json","w", encoding="utf8") as f:
    json.dump(data, f , ensure_ascii = False, indent=2)

    print("Gotovo")

WARNING:absl:Found untraced functions such as _update_step_xla while saving (showing 1 of 1). These functions will not be directly callable after loading.

INFO:tensorflow:Assets written to: C:\Users\amirb\AppData\Local\Temp\tmp4d7ialp3\assets

INFO:tensorflow:Assets written to: C:\Users\amirb\AppData\Local\Temp\tmp4d7ialp3\assets

Gotovo


## Kopiranje Potrebnih Flutter Fajlova u Bundesliga App Folder

In [62]:
import shutil
#import os

fl_imovina = r"C:\Users\amirb\bundesliga_app\assets"

shutil.copy("preproc.json", fl_imovina)
shutil.copy("forma_h.csv", fl_imovina)
shutil.copy("forma_a.csv", fl_imovina)
shutil.copy("forma_h.csv", fl_imovina)
shutil.copy("model.tflite", fl_imovina)

'C:\\Users\\amirb\\bundesliga_app\\assets\\model.tflite'

Kraj Skripte