## Ucitavanje i Sredjivanje Nizova Podataka

In [1]:
#ucitavanje potrebnih biblioteka
import pandas as pd
import numpy as np

In [5]:
#uvoz podataka
#sezona 23/24
df_23_4 = pd.read_csv("bundesliga-2023.csv")
#sezona 24/25
df_24_5 = pd.read_csv("bundesliga-2024.csv")
#sezona 25/6
df_25_6 = pd.read_csv("bundesliga-2025.csv")

## Ukidanje Duplih Vrijednosti za Nazive Klubova

In [6]:
#za sezonu 25 6
df_23_4["Home Team"] = df_23_4["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_23_4["Away Team"] = df_23_4["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
#za sezonu 24 5
df_25_6["Home Team"] = df_25_6["Home Team"].replace("Sport-Club Freiburg", 'SC Freiburg')
df_25_6["Away Team"] = df_25_6["Away Team"].replace("Sport-Club Freiburg", 'SC Freiburg')

## Određivanje Duzine Trenutnoj Sezoni i Prikaz

In [7]:
#odrediti duzinu sezone - OBAVEZNO!!!
df_25_6 = df_25_6.head(81)
df_25_6.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
76,79,9,01/11/2025 14:30,Red Bull Arena,RB Leipzig,VfB Stuttgart,3 - 1
77,80,9,01/11/2025 14:30,Mewa Arena,1. FSV Mainz 05,SV Werder Bremen,1 - 1
78,81,9,01/11/2025 17:30,Allianz Arena,FC Bayern München,Bayer 04 Leverkusen,3 - 0
79,73,9,02/11/2025 14:30,RheinEnergieStadion,1. FC Köln,Hamburger SV,4 - 1
80,78,9,02/11/2025 16:30,Volkswagen Arena,VfL Wolfsburg,TSG Hoffenheim,2 - 3

In [8]:
#sjedinjavanje ta tri df niza podataka - po osi jedan - odnosno uzduž
df_BL = pd.concat([df_23_4, df_24_5, df_25_6], axis=0)

In [9]:
#prikaz sjedinjenog niza podatak 
#tj. sve tri sezone u jednom nizu podataka u obliku df 
df_BL.tail()

,Match Number,Round Number,Date,Location,Home Team,Away Team,Result
76,79,9,01/11/2025 14:30,Red Bull Arena,RB Leipzig,VfB Stuttgart,3 - 1
77,80,9,01/11/2025 14:30,Mewa Arena,1. FSV Mainz 05,SV Werder Bremen,1 - 1
78,81,9,01/11/2025 17:30,Allianz Arena,FC Bayern München,Bayer 04 Leverkusen,3 - 0
79,73,9,02/11/2025 14:30,RheinEnergieStadion,1. FC Köln,Hamburger SV,4 - 1
80,78,9,02/11/2025 16:30,Volkswagen Arena,VfL Wolfsburg,TSG Hoffenheim,2 - 3

## Predprocesovanje Niza Podataka

In [10]:
#Izbacivanje Nerelevantnih Osobina
df_BL = df_BL.drop(["Match Number","Round Number","Date","Location"],axis=1)
df_BL.shape

(693, 3)

In [11]:
df_BL.rename(columns={"Home Team":"H","Away Team":"A"},inplace=True)

In [12]:
df_BL.to_csv("bundesliga.csv")
df_BL

                    H                         A Result
0    SV Werder Bremen         FC Bayern München  0 - 4
1       VfB Stuttgart           VfL Bochum 1848  5 - 0
2         FC Augsburg  Borussia Mönchengladbach  4 - 4
3      TSG Hoffenheim               SC Freiburg  1 - 2
4       VfL Wolfsburg     1. FC Heidenheim 1846  2 - 0
..                ...                       ...    ...
76         RB Leipzig             VfB Stuttgart  3 - 1
77    1. FSV Mainz 05          SV Werder Bremen  1 - 1
78  FC Bayern München       Bayer 04 Leverkusen  3 - 0
79         1. FC Köln              Hamburger SV  4 - 1
80      VfL Wolfsburg            TSG Hoffenheim  2 - 3

[693 rows x 3 columns]

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

#One Hot Encoder Timova - Domacin i Gost
onehot_encoder_domacin = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_domacin = onehot_encoder_domacin.fit_transform(df_BL[["H"]]).toarray()
df_domacin = pd.DataFrame(kodiran_domacin,columns=onehot_encoder_domacin.get_feature_names_out(["H"]))

In [14]:
df_domacin.columns

Index(['H_1. FC Köln', 'H_1. FC Union Berlin', 'H_1. FSV Mainz 05',
       'H_Bayer 04 Leverkusen', 'H_Borussia Dortmund',
       'H_Borussia Mönchengladbach', 'H_Eintracht Frankfurt', 'H_FC Augsburg',
       'H_FC Bayern München', 'H_FC St. Pauli', 'H_Hamburger SV',
       'H_Holstein Kiel', 'H_RB Leipzig', 'H_SC Freiburg', 'H_SV Darmstadt 98',
       'H_SV Werder Bremen', 'H_TSG Hoffenheim', 'H_VfB Stuttgart',
       'H_VfL Bochum 1848', 'H_VfL Wolfsburg'],
      dtype='object')

In [15]:
df_domacin.shape

(693, 20)

In [16]:
#One Hot Encoder Timova - Gosti
onehot_encoder_gost = OneHotEncoder(handle_unknown="ignore",drop="first")  # Ensure parameters are correct
kodiran_gost = onehot_encoder_gost.fit_transform(df_BL[["A"]]).toarray()
df_gost = pd.DataFrame(kodiran_gost,columns=onehot_encoder_gost.get_feature_names_out(["A"]))

In [17]:
df_gost.shape

(693, 20)

In [18]:
#Sjedinjavanje tih osobina domacin i gost
df_jedan = pd.concat([df_domacin,df_gost],axis=1)
df_jedan

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Hamburger SV,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
688,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
689,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
690,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
691,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Transformisanje Rezultata u Varijablu - Y Varijable

#### Stvaranje Vrijednosti za Dvije Kolone iz Jedne Osobine/Kolone Rezultat

In [19]:
rez_dom = df_BL["Result"].str.slice(0,1)

In [20]:
rez_dom.head()

0    0
1    5
2    4
3    1
4    2
Name: Result, dtype: object

In [21]:
rez_gost = df_BL["Result"].str.slice(4,5)

In [22]:
rez_gost.head()

0    4
1    0
2    4
3    2
4    0
Name: Result, dtype: object

In [23]:
df_rezultatski = pd.concat([df_BL,rez_dom,rez_gost],axis=1)

In [24]:
#promjena naziva kolonama - spajanjem smo dobili kolone istih naziva
df_rezultatski.columns = ["H","A","Result","Rez1","Rez2"]
df_rezultatski

                    H                         A Result Rez1 Rez2
0    SV Werder Bremen         FC Bayern München  0 - 4    0    4
1       VfB Stuttgart           VfL Bochum 1848  5 - 0    5    0
2         FC Augsburg  Borussia Mönchengladbach  4 - 4    4    4
3      TSG Hoffenheim               SC Freiburg  1 - 2    1    2
4       VfL Wolfsburg     1. FC Heidenheim 1846  2 - 0    2    0
..                ...                       ...    ...  ...  ...
76         RB Leipzig             VfB Stuttgart  3 - 1    3    1
77    1. FSV Mainz 05          SV Werder Bremen  1 - 1    1    1
78  FC Bayern München       Bayer 04 Leverkusen  3 - 0    3    0
79         1. FC Köln              Hamburger SV  4 - 1    4    1
80      VfL Wolfsburg            TSG Hoffenheim  2 - 3    2    3

[693 rows x 5 columns]

In [25]:
#spremanje df_epl varijable za obradu osobine Result u excelu
df_rezultatski.to_csv("uredjivanje_skora_vani.csv")

## Uocavanje Indeksa Sezona - za Kasnije Floatiranje

In [26]:
#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

## Stvaranje Kolone Skor sa Vrijednostima - Ovdje

In [27]:
# Define a function to perform the conditional logic
def calculate_value(row):
    if row['Rez1'] > row['Rez2']:
        return 1
    elif row['Rez1'] < row['Rez2']:
        return -1
    else:  # row['Column1'] == row['Column2']
        return 0

In [28]:
# Apply the function to each row in the DataFrame and assign the result to a new column
df_rezultatski['Skor'] = df_rezultatski.apply(calculate_value, axis=1)
skor = df_rezultatski.drop(['H', 'A', 'Result', 'Rez1',"Rez2"],axis=1)

### Floatiranje Vrijednosti Kolone Skor - po Sezonama

#df_rezultatski[303:306] #sezona 23/4 od 0:306
#df_rezultatski[306:612] #sezona 24/5 od 306:612
#df_rezultatski[612:] #sezona25/6 od 612:

In [29]:
#sezona 23/4
skor23_4 = skor[0:306]
skor24_5 = skor[306:612]
skor25_6 = skor[612:]

In [30]:
#skor.head(3)
skor23_4["Skor"] = skor23_4["Skor"] * 0.71

C:\Users\amirb\AppData\Local\Temp\ipykernel_8152\3544292283.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor23_4["Skor"] = skor23_4["Skor"] * 0.71

In [31]:
skor24_5["Skor"] = skor24_5["Skor"] * 0.85

C:\Users\amirb\AppData\Local\Temp\ipykernel_8152\3136881136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skor24_5["Skor"] = skor24_5["Skor"] * 0.85

## Konačna kolona Skor - Sjedinjavanje Vrijednosti Sezona

In [32]:
skor = pd.concat([skor23_4, skor24_5, skor25_6], axis=0, ignore_index=True)

Provjera se vrši manuelno, gledanjem repa,glave i sredine ovog df-a

In [33]:
df_rezultatski = df_rezultatski.reset_index(drop=True)
skor = skor.reset_index(drop=True)

In [34]:
#provjera rezultata
finalna_provjera = pd.concat([df_rezultatski,skor],axis=1,ignore_index=True)
finalna_provjera = finalna_provjera.drop([3,4,5],axis=1)
finalna_provjera.columns = ["H","A","Rezultat","Skor"]

In [35]:
finalna_provjera.tail()

                     H                    A Rezultat  Skor
688         RB Leipzig        VfB Stuttgart    3 - 1   1.0
689    1. FSV Mainz 05     SV Werder Bremen    1 - 1   0.0
690  FC Bayern München  Bayer 04 Leverkusen    3 - 0   1.0
691         1. FC Köln         Hamburger SV    4 - 1   1.0
692      VfL Wolfsburg       TSG Hoffenheim    2 - 3  -1.0

# Konačni df - Podaci su Sređeni

In [36]:
skor = skor.reset_index(drop=True)
df_jedan = df_jedan.reset_index(drop=True)

In [37]:
df_BL = pd.concat([df_jedan,skor],axis=1)

In [38]:
df_BL.head(5)

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg,Skor
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.71
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.71
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.71

In [39]:
#spremanje kodiranog niza podataka
df_BL.to_csv("kodirani_bl.csv")

## Razdvajanje Niza Podataka na Osobine za Predvidjanje i Ciljanu Osobinu

In [40]:
# X predvidjacke, y varijabla jeste Skor Osobina
X = df_BL.drop(["Skor"],axis=1)
y = df_BL["Skor"]

In [41]:
#razdvajanje podataka u treniranju i testirajuce nizove
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=42)
X_train.head()

,H_1. FC Köln,H_1. FC Union Berlin,H_1. FSV Mainz 05,H_Bayer 04 Leverkusen,H_Borussia Dortmund,H_Borussia Mönchengladbach,H_Eintracht Frankfurt,H_FC Augsburg,H_FC Bayern München,H_FC St. Pauli,...,A_Hamburger SV,A_Holstein Kiel,A_RB Leipzig,A_SC Freiburg,A_SV Darmstadt 98,A_SV Werder Bremen,A_TSG Hoffenheim,A_VfB Stuttgart,A_VfL Bochum 1848,A_VfL Wolfsburg
227,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
629,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
81,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
380,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
#skaliranje ovih osobina
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)
X_train

array([[-0.18677184, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019],
       [-0.18677184, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019],
       [ 5.35412613, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019],
       ...,
       [-0.18677184, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019],
       [-0.18677184, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019],
       [-0.18677184, -0.2476465 , -0.23269189, ..., -0.2512766 ,
        -0.23269189, -0.24026019]])

In [43]:
#Spremanje tog Kodera - za Kasniju Upotrebu

with open("onehot_encoder_domacin.pkl","wb") as file:
    pickle.dump(onehot_encoder_domacin,file)
    
with open("onehot_encoder_gost.pkl","wb") as file:
    pickle.dump(onehot_encoder_gost,file)
    
with open("scaler.pkl","wb") as file:
    pickle.dump(scaler,file)

## Stvaranje Modela i Dobijanje Predikcije

In [44]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
#sledeca biblioteka se odnosi na stvaranje neurona iz kutije layers i alatom dense
from tensorflow.keras.layers import Dense

In [45]:
#konstrukcija modela
model=Sequential([
    Dense(16,activation="relu",input_shape=(X_train.shape[1],)), #HL1 connected to I/p - Skriveni Sloj 1 povezan sa I/p
    Dense(1,activation="tanh")
])

In [46]:
#Oblikovanje Modela 
model.compile(optimizer="adam",loss="mean_absolute_error",metrics=["mae"])
model.summary()

# Keras dokumentacija pojasnjava sta se dogodi sa razlicitim odabirom "loss" i drugih parametara

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                656

 dense_1 (Dense)             (None, 1)                 17

=================================================================
Total params: 673
Trainable params: 673
Non-trainable params: 0
_________________________________________________________________

In [47]:
import datetime
#uspostavljanje Tensorboard-a, zapocinjanje treniranja
#TensorBoard sluzi samo za vizualizaciju svih logovanja koje izvrsim kod treniranja nekog modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

#log_dir varijabla koja osigurava da ostane zabinjezen trag svakog treniranja modela
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1)

#Uspostavljanje Early Stopping - sluzi za zaustavljanje treniranja ako se vrijednost gubitaka ne smanjuje
#bitni parametri su uneseni koji sluze poboljsanju funkcije ranog zaustavljanja treniranja modela...
early_stopping_callback = EarlyStopping(monitor="val_loss",patience=10,restore_best_weights=True)

In [48]:
#TRENIRANJE MODELA / Tovarenje Modela
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=50,
    callbacks= [tensorflow_callback,early_stopping_callback]
)

Epoch 1/50
20/20 [==============================] - 3s 84ms/step - loss: 0.8066 - mae: 0.8066 - val_loss: 0.7107 - val_mae: 0.7107
Epoch 2/50
20/20 [==============================] - 1s 34ms/step - loss: 0.7643 - mae: 0.7643 - val_loss: 0.6870 - val_mae: 0.6870
Epoch 3/50
20/20 [==============================] - 1s 33ms/step - loss: 0.7258 - mae: 0.7258 - val_loss: 0.6709 - val_mae: 0.6709
Epoch 4/50
20/20 [==============================] - 0s 21ms/step - loss: 0.6941 - mae: 0.6941 - val_loss: 0.6604 - val_mae: 0.6604
Epoch 5/50
20/20 [==============================] - 0s 23ms/step - loss: 0.6609 - mae: 0.6609 - val_loss: 0.6498 - val_mae: 0.6498
Epoch 6/50
20/20 [==============================] - 0s 24ms/step - loss: 0.6316 - mae: 0.6316 - val_loss: 0.6356 - val_mae: 0.6356
Epoch 7/50
20/20 [==============================] - 1s 35ms/step - loss: 0.6063 - mae: 0.6063 - val_loss: 0.6226 - val_mae: 0.6226
Epoch 8/50
20/20 [==============================] - 1s 32ms/step - loss: 0.5823 - mae: 0.5823 - val_loss: 0.6084 - val_mae: 0.6084
Epoch 9/50
20/20 [==============================] - 1s 30ms/step - loss: 0.5604 - mae: 0.5604 - val_loss: 0.5946 - val_mae: 0.5946
Epoch 10/50
20/20 [==============================] - 1s 28ms/step - loss: 0.5424 - mae: 0.5424 - val_loss: 0.5854 - val_mae: 0.5854
Epoch 11/50
20/20 [==============================] - 0s 25ms/step - loss: 0.5274 - mae: 0.5274 - val_loss: 0.5830 - val_mae: 0.5830
Epoch 12/50
20/20 [==============================] - 1s 36ms/step - loss: 0.5139 - mae: 0.5139 - val_loss: 0.5768 - val_mae: 0.5768
Epoch 13/50
20/20 [==============================] - 1s 29ms/step - loss: 0.5028 - mae: 0.5028 - val_loss: 0.5751 - val_mae: 0.5751
Epoch 14/50
20/20 [==============================] - 1s 26ms/step - loss: 0.4923 - mae: 0.4923 - val_loss: 0.5739 - val_mae: 0.5739
Epoch 15/50
20/20 [==============================] - 0s 22ms/step - loss: 0.4834 - mae: 0.4834 - val_loss: 0.5727 - val_mae: 0.5727
Epoch 16/50
20/20 [==============================] - 1s 26ms/step - loss: 0.4767 - mae: 0.4767 - val_loss: 0.5694 - val_mae: 0.5694
Epoch 17/50
20/20 [==============================] - 0s 24ms/step - loss: 0.4703 - mae: 0.4703 - val_loss: 0.5659 - val_mae: 0.5659
Epoch 18/50
20/20 [==============================] - 0s 22ms/step - loss: 0.4651 - mae: 0.4651 - val_loss: 0.5678 - val_mae: 0.5678
Epoch 19/50
20/20 [==============================] - 0s 24ms/step - loss: 0.4610 - mae: 0.4610 - val_loss: 0.5655 - val_mae: 0.5655
Epoch 20/50
20/20 [==============================] - 0s 24ms/step - loss: 0.4572 - mae: 0.4572 - val_loss: 0.5659 - val_mae: 0.5659
Epoch 21/50
20/20 [==============================] - 0s 25ms/step - loss: 0.4539 - mae: 0.4539 - val_loss: 0.5655 - val_mae: 0.5655
Epoch 22/50
20/20 [==============================] - 0s 25ms/step - loss: 0.4505 - mae: 0.4505 - val_loss: 0.5683 - val_mae: 0.5683
Epoch 23/50
20/20 [==============================] - 1s 28ms/step - loss: 0.4478 - mae: 0.4478 - val_loss: 0.5647 - val_mae: 0.5647
Epoch 24/50
20/20 [==============================] - 0s 22ms/step - loss: 0.4440 - mae: 0.4440 - val_loss: 0.5685 - val_mae: 0.5685
Epoch 25/50
20/20 [==============================] - 1s 30ms/step - loss: 0.4409 - mae: 0.4409 - val_loss: 0.5647 - val_mae: 0.5647
Epoch 26/50
20/20 [==============================] - 1s 29ms/step - loss: 0.4391 - mae: 0.4391 - val_loss: 0.5680 - val_mae: 0.5680
Epoch 27/50
20/20 [==============================] - 0s 22ms/step - loss: 0.4351 - mae: 0.4351 - val_loss: 0.5710 - val_mae: 0.5710
Epoch 28/50
20/20 [==============================] - 0s 24ms/step - loss: 0.4327 - mae: 0.4327 - val_loss: 0.5680 - val_mae: 0.5680
Epoch 29/50
20/20 [==============================] - 0s 22ms/step - loss: 0.4304 - mae: 0.4304 - val_loss: 0.5653 - val_mae: 0.5653
Epoch 30/50
20/20 [==============================] - 1s 35ms/step - loss: 0.4280 - mae: 0.4280 - val_loss: 0.5688 - val_mae: 0.5688
Epoch 31/50
20/20 [==============================] - 0s 25ms/step - loss: 0.4248 - mae: 0.4248 - val_loss: 0.5701 - val_mae: 0.5701
Epoch 32/50
20/20 [==============================] - 0s 25ms/step - loss: 0.4229 - mae: 0.4229 - val_loss: 0.5671 - val_mae: 0.5671
Epoch 33/50
20/20 [==============================] - 1s 32ms/step - loss: 0.4210 - mae: 0.4210 - val_loss: 0.5655 - val_mae: 0.5655

In [49]:
#Procjena Rada Modela preko test podataka
test_loss, test_mae = model.evaluate(X_test,y_test)

3/3 [==============================] - 0s 6ms/step - loss: 0.5647 - mae: 0.5647

In [50]:
#spremanje modela
model.save("BL_float_model.h5")

In [51]:
#moze biti da skaliranje je neophodno, onda je potrebno i obnoviti test parametara modela, te iznova
#-trenirati model i na kraju ga ponovo spremiti.